<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nesne_Tabanlı_Programlama.Properties.Settings.kayitConnectionString"
            connectionString="Data Source=SAFFET\SQLEXPRESS;Initial Catalog=kayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>